.container {
    padding-top: 20px;
    padding-left: 20px;
}

.input-container {
    display:flex;
    flex-direction: column; 
}

.input-container label {
    margin-bottom: 15px;
}

.input-container input {
    width:400px;
    height: 35px;
    border-radius:8px;
    background: black;
    border: 1px solid white;
    color: white;
    margin-bottom: 30px;
}

.btn-mudar-senha {
    width: 170px; 
    height: 40px;
    background:white;
    border:none;
    border-radius: 2.5px;
    font-size:15px;
}

.btn-mudar-senha:hover {
    cursor: pointer;
    background: black;
    color:white;
    border: 0.9px solid white;
    border-radius: 4px;
}