<header>
    <button style="margin-left: 14px;" class="botao-header" (click)="direcionar('home')">Home</button>
    <button class="botao-header" (click)="direcionar('admin')">Pagina Admin</button>
    <button class="botao-header" (click)="direcionar('mudar-senha')">Mudar Senha</button>
    <button class="botao-header" (click)="direcionar('cadastrar-usuario')">Cadastrar Usuario</button>
    <div class="sair-cadastrar-btn">
        <button *ngIf="authService.validarSessao()" class="botao-sair" (click)="logout()">Sair</button>   
    </div>
</header>
<div *ngIf="authService.validarSessao()" class="dados-usuario">
    <span>Nome: {{authService.sessaoUsuario.userName}}</span>
    <span>Tipo de usuário: {{authService.sessaoUsuario.userRole}}</span>
</div>
<router-outlet></router-outlet>
